* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

/* flex-center */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-start {
  display: flex;
  justify-content: center;
  align-items: start;
}

.width-height-inherit {
  width: inherit;
  height: inherit;
}

/*todo table CSS */
#addInfoForm table {
  border-collapse: separate;
  border-spacing: 0;
  width: 90vw;
  height: 45vh;
}

#Create-modal-container tr th:nth-child(2) {
  width: 10%;
}

#Create-modal-container tr th:nth-child(3) {
  width: 20%;
}

#Create-modal-container tr th:nth-child(4) {
  width: 30%;
}

#Create-modal-container th {
  min-width: 50px;
  width: 15%;
  font-size: 1.5em;
  height: 2em;
}

#Create-modal-container th,
#Create-modal-container td {
  border: 0.5px solid black;
  height: 2em;
  background-color: white;
}

#Create-modal-container td {
  padding: 2px;
}

/* 첫 번째 행과 마지막 행의 첫 번째와 마지막 셀에 border-radius 적용 */
#Create-modal-container tr:first-child th:first-child {
  border-top-left-radius: 5px;
}

#Create-modal-container tr:first-child th:last-child {
  border-top-right-radius: 5px;
}

#Create-modal-container tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

#Create-modal-container tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

/*todo button CSS */

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#button-container > button {
  min-width: auto;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
}

#button-container > button:first-child {
  background-color: #252525;
  padding: 10px;
  color: rgb(214, 214, 214);
  width: 25vw;
  height: 4em;
  min-width: 150px;
  font-size: 1.3em;
}

#button-container > button:nth-child(2) {
  background-color: white;
  padding: 10px;
  width: 7vw;
  height: 4em;
  min-width: 55px;
  font-size: 1.3em;
}

.modal-content {
  width: 100vw;
  height: 100vh;

  /* 모달창을 화면 가운데에 위치시키기 위해 margin을 auto로 설정 */
  margin: auto;
}

input {
  width: inherit;
  height: inherit;
}
