* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.user-managers {
  font-weight: 600;
  margin: 5px;
}

.ul-style {
  list-style-type: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-bg-black {
  background-color: black;
  width: 5px;
  height: 100vh;
}
