/*? 전체 설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* flex-center */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.width-height-100 {
  width: 100vw;
  height: 100vh;
}

/*todo user-managers style  */
.user-managers-display {
  margin-right: 10px;
  padding: 10px;
}

.um-style {
  margin-bottom: 30px;
}

.user-manager {
  font-weight: 600;
  margin: 10px;
  min-width: 100px;
  width: 7%;
}

.ul-list-style-type {
  list-style-type: none;
}

.li-style {
  color: #202020;
  margin: 10px;
  padding-left: 20px;
  min-width: 100px;
}

/* side-bgc style */
.side-bg-black {
  background-color: black;
  width: 5px;
  height: 100vh;
}

/*todo user-info style */
/** 최상단 컨테이너 */
.user-info-container-style {
  width: 100%;
  height: fit-content;
  min-width: 1000px;
  min-height: 100vh;
  background-color: rgb(235, 255, 255);
}

.header-user-info-style {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  padding: 1% 2% 2px 2%;
}

.info-container-style {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.div-info {
  min-width: 100px;
  min-height: 30px;
  width: auto;
  padding: 10px;
  border: 1px solid black;
  margin: 5px;
  background-color: white;
  border-radius: 5%;
}

.div-info-add-style {
  background-color: #101010;
  color: white;
}

.search-style-hight-43 {
  height: 43px;
  width: 140px;
  min-width: 120px;
}

.user-info-font-style {
  font-size: 1.5em;
  font-weight: 700;
}

.mainTable {
  background-color: rgb(217, 252, 252);
  width: 100vw;
  overflow-y: auto; /* 초과시 스크롤 */
}

/*todo table CSS */
#main-table table {
  border-collapse: separate;
  /* 셀 사이 간격 제거 */
  border-spacing: 0;
  padding: 10px;
}

#main-table tr th:first-child {
  width: 3vw;
}

#main-table tr th:nth-child(2) {
  width: 7vw;
}

#main-table tr th:nth-child(4) {
  width: 10vw;
}

#main-table tr th:nth-child(5) {
  width: 20vw;
}

#main-table tr th:nth-child(6) {
  width: 30vw;
}

#main-table th {
  min-width: 50px;
  width: 15vw;
}

#main-table th,
#main-table td {
  border: 0.5px solid black;
  height: 2.5em;
  background-color: white;
}

#main-table td {
  padding: 2px;
}

/* 첫 번째 행과 마지막 행의 첫 번째와 마지막 셀에 border-radius 적용 */
#main-table tr:first-child th:first-child {
  border-top-left-radius: 25px;
}

#main-table tr:first-child th:last-child {
  border-top-right-radius: 25px;
}

#main-table tr:last-child td:first-child {
  border-bottom-left-radius: 25px;
}

#main-table tr:last-child td:last-child {
  border-bottom-right-radius: 25px;
}

#main-table td:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*todo modal CSS */
.modal-backdrop-style {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none;
}
