* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-user-info table {
  border-collapse: separate;
  /* 셀 사이 간격 제거 */
  border-spacing: 0;
}

tr th:nth-child(1) {
  width: 7vw;
}

tr th:nth-child(3) {
  width: 10vw;
}

tr th:nth-child(4) {
  width: 20vw;
}

tr th:nth-child(5) {
  width: 30vw;
}

th {
  min-width: 50px;
  width: 15vw;
}

th,
td {
  border: 0.5px solid black;
  height: 2em;
}

td {
  padding: 2px;
}

/* 첫 번째 행과 마지막 행의 첫 번째와 마지막 셀에 border-radius 적용 */
tr:first-child th:first-child {
  border-top-left-radius: 5px;
}

tr:first-child th:last-child {
  border-top-right-radius: 5px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#button-container > button {
  min-width: auto;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
}

#button-container > button:first-child {
  background-color: #252525;
  padding: 10px;
  color: rgb(214, 214, 214);
  width: 25vw;
  min-width: 150px;
}

#button-container > button:nth-child(2) {
  background-color: white;
  padding: 10px;
  width: 7vw;
  min-width: 55px;
}
