* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.width-height-inherit {
  width: inherit;
  height: inherit;
}

/*todo table CSS */
#addInfoForm table {
  border-collapse: separate;
  border-spacing: 0;
}

#Create-modal-container tr th:nth-child(1) {
  width: 7%;
}

#Create-modal-container tr th:nth-child(3) {
  width: 10%;
}

#Create-modal-container tr th:nth-child(4) {
  width: 20%;
}

#Create-modal-container tr th:nth-child(5) {
  width: 30%;
}

#Create-modal-container th {
  min-width: 50px;
  width: 15%;
}

#Create-modal-container th,
#Create-modal-container td {
  border: 0.5px solid black;
  height: 2em;
  background-color: white;
}

#Create-modal-container td {
  padding: 2px;
}

/* 첫 번째 행과 마지막 행의 첫 번째와 마지막 셀에 border-radius 적용 */
#Create-modal-container tr:first-child th:first-child {
  border-top-left-radius: 5px;
}

#Create-modal-container tr:first-child th:last-child {
  border-top-right-radius: 5px;
}

#Create-modal-container tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

#Create-modal-container tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

/*todo button CSS */

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#button-container > button {
  min-width: auto;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
}

#button-container > button:first-child {
  background-color: #252525;
  padding: 10px;
  color: rgb(214, 214, 214);
  width: 25vw;
  min-width: 150px;
}

#button-container > button:nth-child(2) {
  background-color: white;
  padding: 10px;
  width: 7vw;
  min-width: 55px;
}
